body {
  margin: 0;
  padding: 0;
}

.mapContainer {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  /* background-color: red; */
}

.info {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 20px;
  color: white;
  padding: 10px;
  z-index: 99;
}